name: Tests 

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
  
    steps:
    - uses: actions/checkout@v2

    - name: Tests check
      run: docker-compose run backend_sector bash -c  "yarn && yarn jest --coverage --forceExit"
        
    - name: Test & publish code coverage
      uses: paambaati/codeclimate-action@v2.7.5
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CODECLIMATE_TOKEN }}
